/*--- Header ---*/

/*--- Layout ---*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0;
}

/*--- Typography ---*/
.header {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.link {
  border: 1px solid white;
}
