/*--- content Card ---*/

.content_card {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    aspect-ratio: 16 / 9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content_overlay,
.content_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* border-radius: 1em; */
}

.content_overlay {
    z-index: 1;
    left: -100%;
    width: 100%;
    text-align: center;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.content_card:hover>.content_overlay {
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    transition: all 0.3s ease-in-out;
}

.content_title {
    width: 100%;
    border-radius: 0.5em;
    margin: 0 auto;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--main-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content_description {
    margin: 0.5em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}

.content_open {
    border: 1px solid black;
    font-weight: bold;
}