/*--- Project Card ---*/

.project_card {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.project_overlay,
.project_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.project_overlay {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  left: -100%;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.project_card:hover > .project_overlay {
  width: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  transition: all 0.3s ease-in-out;
}

.project_title {
  width: 50%;
  margin: 0 auto;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(170, 20, 240);
  background: linear-gradient(
    90deg,
    rgba(170, 20, 240, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.project_description {
  margin: 0.5em 0;
  text-align: center;
  font-size: 1em;
}

.tech_logo {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0px 5px;
}

.project_open {
  border: 1px solid black;
}
