/*--- Welcome ---*/

/*--- Typography ---*/
.welcome {
  color: white;
  text-align: center;
}

.welcome h1 {
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1.5em;
}

.welcome p {
  font-size: 1.5em;
  line-height: 1.5em;
}
