/*--- Welcome ---*/

/*--- Typography ---*/
.welcome {
  color: white;
  text-align: center;
  padding: 1em;
}

.welcome h1 {
  font-size: 3.8em;
  text-transform: uppercase;
  line-height: 1.5em;
}

.welcome p {
  font-size: 1.5em;
  font-style: italic;
}

.welcome span {
  font-weight: bold;
}
