@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --light: #eeebdd;
  --main-color: #aa14f0;
  --secondary-color: #810000;
  --dark: #1b1717;

  --wrapping: 100px;
}

/*--- Utils ---*/
.primary {
  color: var(--main-color);
}

.primary-bg {
  padding: 0.1em 0.2em;
  background: rgb(170, 20, 240);
  background: linear-gradient(
    90deg,
    rgba(170, 20, 240, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.secondary {
  color: var(--secondary-color);
}

.secondary-bg {
  padding: 0.1em 0.2em;
  background-color: var(--secondary-color);
}

/*--- Layout ---*/
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

section {
  padding: 1em;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 0.5em;
  row-gap: 4em;
  margin: 2em 0;
}

/*--- Background ---*/
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.simple-section {
  background-color: white;
}

/*--- Typography ---*/

body {
  font-family: "Quicksand", sans-serif;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Buttons */
.fill-button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin: 20px 0px;
  z-index: 0;
}

.fill-button::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.fill-button:hover::before,
.fill-button-active {
  width: 100%;
}

.fill-button:hover {
  color: white;
}
